@import "../keyframes/style";

.card {
  overflow: hidden;
  box-sizing: border-box;
  width: 200px;
  height: 310px;
  text-align: center;
  color: black;
  border: 2px solid grey;
  background-color: white;
  position: relative;

  &__delete {
    position: absolute;
    z-index: 1;
    top: 5px;
    left: 5px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: white;
  }

  &__cross:before,
  &__cross:after {
    position: absolute;
    content: "";
    width: 10px;
    height: 1px;
    top: 50%;
    left: 29%;
    z-index: 2;
    border-radius: 8px;
    background-color: black;
  }

  &__cross:before {
    transform: rotate(45deg);
  }

  &__cross:after {
    transform: rotate(-45deg);
  }

  &__text {
    padding-top: 15px;
    position: relative;
    background-color: white;
    transform: translateX($valueForCenteringBlock);
    width: 140%;
  }

  &__img {
    background-image: url("../../imgs/arizona-burger_1584962897186.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    border-radius: 0 0 125px 125px;
    overflow: hidden;
    position: relative;
    height: 150px;
    top: 0;
    left: 0;
    transform: translateX($valueForCenteringBlock);
    width: 140%;
  }

  &__title,
  &__subtitle,
  &__description {
    margin: 0 auto;
    max-width: 170px;
  }

  &__title {
    font-size: 1.2rem;
    font-weight: bold;
  }

  &__subtitle {
    font-size: 0.9rem;
    margin: 8px auto;
  }

  &__description {
    font-size: 0.8rem;
    color: #616162;
  }
}

.blockIs__down {
  .card__img{
    animation: imgDown 0.3s both;
  }
}

.blockIs__up {
  .card {
    &__text{
      animation: easeOutElasticUp 2s both;
    }

    &__img{
      animation: imgUp 0.3s both;
    }
  }
}

.blockIs__middle__from__down {
  .card__img{
    animation: imgMiddle 0.3s both;
  }
}

.blockIs__middle__from__up {
  .card__text{
    animation: middle__from__up 1s both;
  }
}
