body {
  background-color: black;
  font-family: 'Roboto', sans-serif;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
<<<<<<< HEAD
  margin-top: 10%;
=======
  padding-top: 10%;
>>>>>>> 9ca435b9ab036729663c498fa5fb1c9244f47104
}
